{:deps
 {org.clojure/clojurescript {:mvn/version "1.10.520"}
  com.cognitect/transit-cljs {:mvn/version "0.8.256"}
  com.cognitect/transit-clj {:mvn/version "0.8.309"}
  org.clojure/clojure {:mvn/version "1.10.0"}}
 :aliases
 {:test
  {:extra-deps {org.clojure/test.check {:mvn/version "0.10.0-alpha3"}}
   :extra-paths ["test"]}
  :cambada
  {:extra-deps {luchiniatwork/cambada {:mvn/version "1.0.0"}}}}
 :paths ["src"]}
