{:deps
 {org.clojure/clojurescript {:mvn/version "1.10.520"},
  com.cognitect/transit-cljs {:mvn/version "0.8.256"},
  com.cognitect/transit-clj {:mvn/version "0.8.309"},
  org.clojure/clojure {:mvn/version "1.10.0"}},
 :aliases
 {:test
  {:extra-deps {org.clojure/test.check {:mvn/version "0.10.0-alpha3"}},
   :extra-paths ["test"]},
  :repl
  {:extra-deps
   {nuid/repl
    {:git/url "git@github.com:nuid/repl",
     :sha "0e0785539a9997e4c7ff9f2845c631bea0575fa0"}}}},
 :paths ["src"]}
