{:builds
 {:browser-lib
  {:modules {:browser-lib {:entries [nuid.bn]}}
   :output-dir "target/browser-lib"
   :asset-path "target/browser-lib"
   :target :browser}

  :node-lib
  {:output-to "target/node-lib/nuid_bn.js"
   :exports-var nuid.bn/exports
   :target :node-library}

  :tests
  {:devtools
   {:http-root "target/test"
    :http-port 54345}
   :test-dir "target/test"
   :runner-ns runner-main
   :target :browser-test}}
 :deps {:aliases []}}
