{:deps {:aliases []}

 :builds
 {:browser-lib
  {:target :browser
   :output-dir "target/browser-lib"
   :asset-path "target/browser-lib"
   :modules
   {:browser-lib
    {:entries [nuid.bn]}}}

  :node-lib
  {:target :node-library
   :output-to "target/node-lib/nuid_bn.js"
   :exports-var nuid.bn/exports}

  :tests
  {:target :browser-test
   :test-dir "target/test"
   :runner-ns runner-main
   :devtools
   {:http-port 54345
    :http-root "target/test"}}}}
